@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Viaduto & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Martian+Mono:wght@500 & display=swap');

body {
    margin: 0%;
    top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-image: url(Midia/background.png);
}

#Menu {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 820px;
    font-size: 15px;
}

#Menu a {
    float: left;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    padding: 5px 20px;
    position: static;
}

#Menu a:hover {
    background-color: rgb(179, 179, 179);
    transition: 1.5s;
}

#tituloDosTopicos {
    padding: 10px 10px;
    text-align: center;
    font-family: 'Croissant One', cursive;
}

button {
    display: inline-block;
    padding: 30px 60px;
    border: none;
    font-weight: bold;
    border-radius: 80px;
    cursor: help;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
}

#Botao {
    margin-left: 730px;
    text-align: center;
}

#botao_front-end {

    color: white;
    box-shadow: 0px 0px 80px rgb(0, 0, 0);
    background:
        linear-gradient(to right, #d40606, #ff9090);
}

#botao_front-end:hover {
    background:
        linear-gradient(to right, #ff9090, #d40606);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 1.5s;
}

#botao_back-end {
    background: linear-gradient(to right, #00a1ff, #004797);
    color: white;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
}

#botao_back-end:hover {
    background: linear-gradient(to right, #004797, #00a1ff);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 1.5s;
}

#rodape {
    text-align: center;
    background-color: rgb(95, 95, 95);
    padding: 10px 10px;
    box-shadow: 0px 0px 200px rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

#rodape a {
    text-decoration: none;
    color: white;
    display: inline;
}

#inicio-pagina {
    text-align: center;
}

#links_cursos {
    text-decoration: none;
    color: #00eeff;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#links_cursos:hover {
    color: #00eeff;
    transition: 1.0s;
    font-size: 25px;
}

#Otima-escolha-A {
    text-transform: uppercase;
    color: #FF0060;
    font-family: 'Martian Mono', monospace;
    font-size: 60px;
}

#Otima-escolha-B {
    text-transform: uppercase;
    color: #0077ff;
    font-family: 'Martian Mono', monospace;
    font-size: 60px;
}

#botao-voltar {
    font-family: 'Roboto Condensed', sans-serif;
}

#botao-voltar a {
    text-decoration: none;
    color: #00eeff;
}

#conteudo {
    font-family: 'Croissant One', cursive;
    font-size: 15px;
}

#conteudo-back {
    font-family: 'Croissant One', cursive;
    font-size: 15px;
    margin-top: 10%;
}

#Cronograma {
    font-family: 'Croissant One', cursive;
    font-size: 15px;
    text-align: center;
    margin-top: 15%;
}

#Cronograma a {
    text-decoration: none;
    color: #00eeff;
    font-size: 40px;
}

#Anotações {
    font-family: 'Croissant One', cursive;
    font-size: 15px;
    text-align: center;
    margin-top: 15%;
}

#Anotações a {
    text-decoration: none;
    color: #00eeff;
    font-size: 40px;
}

#botao-linguagemJava {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    background-image: url(Midia/java-botao.png);

}

#botao-linguagemPython {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    background-image: url(Midia/python-botao.png);
    color: #a8a8a8;
}

#botao-linguagemJava:hover {
    background-image: url(Midia/java-hover.png);
    transition: 1.0s;
    color: rgb(255, 255, 255);
}

#botao-linguagemPython:hover {
    background-image: url(Midia/python-hover.png);
    transition: 1.0s;
    color: rgb(255, 255, 255);
}

#link_Dio {
    text-decoration: none;
    background-image: url(Midia/logo\ dio.me.png);
    font-size: 20px;
}

#link_Dio:hover {
    transition: 1.0s;
    font-size: 25px;
}

#link_Dio a {
    text-decoration: none;
    color: #ffffff;
}